/* classi utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.fl{
    float: left;
}
.fs-22{
    font-size: 22px;
}
.mgr-10{
    margin-right: 10px;
}
.mgr-20{
    margin-right: 20px;
}
.recently-genere{
    text-align: center;
}
.mgl-30{
    margin-left: 30px;
}
.mgl-20{
    margin-left: 20px;
}
.mgl-5{
    margin-left: 5px;
}
.mgl-10{
    margin-left: 10px;
}
.br-50{
    border-radius: 50%;
}
main{
    overflow-y: auto;
}
.mgt-15{
    margin-top: 15px;
}
.tac{
    text-align: center;
}
.mgb-10{
    margin-bottom: 10px;
}
li{
    list-style: none;
}
.fa-home{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.mgt-10{
    margin-top: 10px;
}

.mgt-30{
    margin-top: 30px;
}
.mgb-20{
    margin-bottom: 20px;
}
.mgb-5{
    margin-bottom: 5px;
}

.cw{
    color: white;
}
.cg{
    color: grey;
}
.fs-12{
    font-size: 12px;
}
.fs-10{
    font-size: 10px;
}
.bold-800{
    font-weight: 800;
}
.aside-playlist span{
    margin-bottom: 13px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.aside-playlist::after{
    display: table;
    content: "";
    clear: both;
}
.user::after{
    display: table;
    content: "";
    clear: both;
}

/* main */

.spotify-top {
    display: flex;
    height: calc(100vh - 80px);
    background-color: #ccc;
}

.main-menu .yellow {
    position: relative;
    display: inline-block;
}

.main-menu .yellow::after {
    position: absolute;
    bottom: -2px;
    left: calc(50% - 25px);
    content: "";
    width: 50px;
    height: 2px;
    background: yellowgreen;
}
.main-nav{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


main {
    background-color: rgb(34, 35, 38);
    height: 100%;
    width: calc(100% - 200px);
}

/* classi header */

header {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: calc(100% - 200px) ;
    height: 80px;
    display: flex;
}
.button-header{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}

.upgrade{
    width: 200px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
}

/* aside */

aside {
    background-color:black;
    height: 100%;
    width: 200px; 
    overflow: hidden;
}
aside{
    display: flex;
    flex-direction: column;
    color: white;

}
.aside-img img{
    width: 100px;
    margin: 0 auto;
}
.name-playlist{
    flex-grow: 1;
    min-width: 150px;
    overflow-y: auto;
}

/* footer */

footer {
    height: 80px;
    background-color: #333;
    display: flex;
    overflow:hidden;
}
.foot-left,.foot-right{
    width: 250px;
    max-width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
}
.foot-right{
    padding-right: 20px;
}
.foot-right input{
    height: 5px;
    flex-grow: 1;
}
.foot-center{
    width: 40%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foot-img{
    width: 50px;
    height: 50px;
}
.foot-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-time{
    width: 80%;
    display: flex;
     align-items: center; 
    justify-content: center;
    margin-bottom: 10px;
}
.play-time input{
    width: 70%;
    height: 5px;
}


.recently-content{
    width: calc(100% / 6 - 15px);
}
.recently-img{
    position: relative;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    font-size: 50px;
}
.recently-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player{
    display: flex;
    width: 80%;
    justify-content: center;
}
.player-time{
    display: flex;
}



/* effetti hover */
.input:hover{
    background-color: yellow;
}

.fa-heart:hover{
    color: white;
}
.fa-folder:hover{
    color: white;
}
input:hover{
    color: yellow;
}
.fa-play-circle:hover{
    transform: scale(1.50);
}
.upgrade:hover{
    transform: scale(1.25);
}
.main-menu a span:hover{
    color: white;
}
.navigation ul li:hover{
    color: white;
}
.name-playlist ul a li:hover{
    color: white;
}
.recently-img:hover .play{
    display: block;
}
.navigation li a:hover{
    color: white;
}
.aside-playlist i:hover, .aside-playlist span:hover{
    color: white;
}

.recently-img:hover img{
    filter:opacity(0.4);
}


/* media query */

@media screen and (min-width: 576px) and (max-width: 1199px) {

    .recently-content {
        width: calc(100% / 4 - 15px);
    }
    .foot-right input{
        width: 30%;
    }
}
.fa-plus-square{
    font-size: 28px;
}
.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
}
.user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-div{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    min-width: 150px;
}
.height{
    height: 100%;
}
.hr{
    text-decoration: chartreuse;
    text-decoration: underline;
}

@media screen and (max-width:575px) {
    .recently-content{
        width: calc(100% / 2 - 15px);
    }
    .foot-right input{
        width: 20%;
    }
    .foot-center{
        flex-shrink: 1;
    }
    aside{
        width: 50px;
    }
    main{
        width: calc(100% - 50px);
    }
    .navigation ul li i{
        display: block;
    }
    .navigation ul li a{
        display: none;
    }
    .aside-playlist{
        display: none;
    }
    .name-playlist{
        display: none;
    }
    .user-name{
        display: none;
    }
    .user hr{
        display: none;
    }
    .user span{
        display: none;
    }
    aside{
        justify-content: space-between;
    }
    header{
        width: calc(100% - 50px);
    }
    .aside-img{
        margin-left: 15px;
        text-align: center;
    }
    .user-img{
        margin-left: 12px;
    }
}

