*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spotify-top {
    display: flex;
    height: calc(100vh - 80px);
    background-color: #ccc;
}

aside {
    background-color:black;
    height: 100%;
    width: 200px;
}

main {
    background-color: #fff;
    height: 100%;
    width: calc(100% - 200px);
}

header {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

footer {
    height: 80px;
    background-color: #333;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}
.aside-img img{
    width: 100px;
    margin: 0 auto;
}

.button-header{
    width: 120px;
    background-color: yellow;
    position: relative;
    top: 40%;
    left: 1030px;
}

.main-nav{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.row::after{
    clear: both;
    display: table;
    content: "";
}
.fl{
    float: left;
}
.recently-img{
    width: 150px;
    height: 150px;
}
.recently-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mgr-10{
    margin-right: 10px;
}
.recently-genere{
    text-align: center;
}
.mgl-20{
    margin-left: 20px;
}
.br-50{
    border-radius: 50%;
}
main{
    overflow-y: auto;
}
.mgt-15{
    margin-top: 15px;
}
.tac{
    text-align: center;
}
.mgb-10{
    margin-bottom: 10px;
}
li{
    list-style: none;
}
.fa-home{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width:993px) and (max-widht:1200px) {
    .button-header{
        width: 100%;
    }
    header{
        width: 100%;
    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .button-header{
        width: 100%;
    }
    header{
        width: 100%;
    }
}

